*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url("imagens/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    font-family: 'Oxanium', cursive;
}
.logo{
    display:block;
    margin:0 auto;
}
ul{
    display:flex;
    flex-wrap: wrap;
}
.personagem{
    list-style-type: none;
  }